# HR Analytics: Employee Attrition & Workforce Insights
## Dataset: IBM HR Analytics Employee Attrition & Performance (Kaggle)

### 01 -  Data Cleaning & Feature Engineering

In [1]:
#Load dataset
import pandas as pd
df = pd.read_csv("HR-Employee-Attrition.csv")  
df.head()

,Age,Attrition,Business Travel,Daily Rate,Department,Distance From Home,Education,Education Field,EmployeeCount,Employee Number,...,Relationship Satisfaction,Standard Hours,Stock Option Level,Total Working Years,Training Times LastYear,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [2]:
# Check dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         1470 non-null   int64
 1   Attrition                   1470 non-null   object
 2   Business Travel             1470 non-null   object
 3   Daily Rate                  1470 non-null   int64
 4   Department                  1470 non-null   object
 5   Distance From Home          1470 non-null   int64
 6   Education                   1470 non-null   int64
 7   Education Field             1470 non-null   object
 8   EmployeeCount               1470 non-null   int64
 9   Employee Number             1470 non-null   int64
 10  Environment Satisfaction    1470 non-null   int64
 11  Gender                      1470 non-null   object
 12  Hourly Rate                 1470 non-null   int64
 13  Job Involvement             1470 non-null   int64
 14  Job Level                   1470 non-null   int64
 15  Job Role                    1470 non-null   object
 16  Job Satisfaction            1470 non-null   int64
 17  Marital Status              1470 non-null   object
 18  Monthly Income              1470 non-null   int64
 19  Monthly Rate                1470 non-null   int64
 20  Num Companies Worked        1470 non-null   int64
 21  Over18                      1470 non-null   object
 22  OverTime                    1470 non-null   object
 23  Percent Salary Hike         1470 non-null   int64
 24  Performance Rating          1470 non-null   int64
 25  Relationship Satisfaction   1470 non-null   int64
 26  Standard Hours              1470 non-null   int64
 27  Stock Option Level          1470 non-null   int64
 28  Total Working Years         1470 non-null   int64
 29  Training Times LastYear     1470 non-null   int64
 30  Work Life Balance           1470 non-null   int64
 31  Years At Company            1470 non-null   int64
 32  Years In Current Role       1470 non-null   int64
 33  Years Since Last Promotion  1470 non-null   int64
 34  Years With Curr Manager     1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [3]:
# Drop duplication
df.drop_duplicates()

,Age,Attrition,Business Travel,Daily Rate,Department,Distance From Home,Education,Education Field,EmployeeCount,Employee Number,...,Relationship Satisfaction,Standard Hours,Stock Option Level,Total Working Years,Training Times LastYear,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [4]:
# Check for null values
df.isna().sum()

Age                           0
Attrition                     0
Business Travel               0
Daily Rate                    0
Department                    0
Distance From Home            0
Education                     0
Education Field               0
EmployeeCount                 0
Employee Number               0
Environment Satisfaction      0
Gender                        0
Hourly Rate                   0
Job Involvement               0
Job Level                     0
Job Role                      0
Job Satisfaction              0
Marital Status                0
Monthly Income                0
Monthly Rate                  0
Num Companies Worked          0
Over18                        0
OverTime                      0
Percent Salary Hike           0
Performance Rating            0
Relationship Satisfaction     0
Standard Hours                0
Stock Option Level            0
Total Working Years           0
Training Times LastYear       0
Work Life Balance             0
Years At Company              0
Years In Current Role         0
Years Since Last Promotion    0
Years With Curr Manager       0
dtype: int64

In [5]:
# Standardize column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
df.columns

Index(['age', 'attrition', 'business_travel', 'daily_rate', 'department',
       'distance_from_home', 'education', 'education_field', 'employeecount',
       'employee_number', 'environment_satisfaction', 'gender', 'hourly_rate',
       'job_involvement', 'job_level', 'job_role', 'job_satisfaction',
       'marital_status', 'monthly_income', 'monthly_rate',
       'num_companies_worked', 'over18', 'overtime', 'percent_salary_hike',
       'performance_rating', 'relationship_satisfaction', 'standard_hours',
       'stock_option_level', 'total_working_years', 'training_times_lastyear',
       'work_life_balance', 'years_at_company', 'years_in_current_role',
       'years_since_last_promotion', 'years_with_curr_manager'],
      dtype='object')

In [6]:
# Fix inconsistent strings
cols_to_clean = ['department', 'marital_status', 'education_field']
df[cols_to_clean] = df[cols_to_clean].apply(lambda col: col.str.strip().str.title())
df.head()

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employeecount,employee_number,...,relationship_satisfaction,standard_hours,stock_option_level,total_working_years,training_times_lastyear,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [7]:
df['business_travel']=df['business_travel'].str.strip().str.replace('_', ' ')
df.head()

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employeecount,employee_number,...,relationship_satisfaction,standard_hours,stock_option_level,total_working_years,training_times_lastyear,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager
0,41,Yes,Travel Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [8]:
# convert monthly income to int
df['monthly_income'] = df['monthly_income'].astype(int)

In [9]:
# convert Attrition to binary
df['attrition'] = df['attrition'].replace({'Yes': 1, 'No': 0})

C:\Users\DELL\AppData\Local\Temp\ipykernel_3580\3377607277.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['attrition'] = df['attrition'].replace({'Yes': 1, 'No': 0})

In [10]:
df.head()

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employeecount,employee_number,...,relationship_satisfaction,standard_hours,stock_option_level,total_working_years,training_times_lastyear,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager
0,41,1,Travel Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [11]:
# Creating new feature: Tenure group
bins = [0, 2, 6, 10, float('inf')]
labels = ['0-2', '3-6', '7-10', '10+']
df['tenure_group'] = pd.cut(df['years_at_company'], bins=bins, labels=labels, right=True, include_lowest=True)

In [12]:
bins = [0, 30, 45, float('inf')]
labels = ['Young', 'Mid', 'Senior']
df['age_group']= pd.cut(df['age'], bins=bins,labels=labels, right=True, include_lowest=True)

In [13]:
df['overtime_flag'] = df['overtime'].map({'Yes': 1, 'No': 0})

In [14]:
# Creating new feature: Income Band
bins = [0,8000,15000, float('inf')]
labels = ['Low', 'Mid', 'High']
df['income_band']= pd.cut(df['monthly_income'], bins=bins,labels=labels, right=True, include_lowest=True)

In [15]:
df['satisfaction_score'] = df[['job_satisfaction', 'environment_satisfaction', 'work_life_balance']].mean(axis=1)

In [16]:
df.head()

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employeecount,employee_number,...,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,tenure_group,age_group,overtime_flag,income_band,satisfaction_score
0,41,1,Travel Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,6,4,0,5,3-6,Mid,1,Low,2.333333
1,49,0,Travel Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,3,10,7,1,7,7-10,Senior,0,Low,2.666667
2,37,1,Travel Rarely,1373,Research & Development,2,2,Other,1,4,...,3,0,0,0,0,0-2,Mid,1,Low,3.333333
3,33,0,Travel Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,8,7,3,0,7-10,Mid,1,Low,3.333333
4,27,0,Travel Rarely,591,Research & Development,2,1,Medical,1,7,...,3,2,2,2,2,0-2,Young,0,Low,2.000000

In [18]:
df.to_csv('hr_cleaned.csv', index=False)